body {
    background-color: #14492c;
    color: rgb(40, 3, 43);
    font-family: "Embed code", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(154, 199, 103);
    color: rgb(40, 3, 43);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 85%;
}